@import url('fonts.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Myriad Pro';
}

:root {
    --orange: #E17600;
    --purple: #29289B;
}

body {
    background: url('../images/bg-img.png');
    background-size: cover;
    padding: 50px 0;
}

/* Search Section */
.search_main {
    width: 96%;
    max-width: 1432px;
    margin: auto;
    box-shadow: 0px 4px 60px 0px #0000001F;
    border: 1px solid #D8D8D8;
    background: white;
    border-radius: 40px;
    padding: 30px 40px 42px;

    .search_container {
        width: 100%;
        display: flex;
        gap: 16px;

        .search_btn {
            min-width: 170px;
            display: flex;
            align-items: end;

            button {
                width: 100%;
                height: 62px;
                border: none;
                outline: none;
                cursor: pointer;
                font-size: 20px;
                font-weight: 700;
                line-height: 33px;
                color: white;
                box-shadow: 0px 4px 25px 0px #0000001A;
                background: var(--orange);
                border-radius: 12px;
            }
        }

        .search_item {
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;

            .selector {
                width: 100%;

                .label {
                    font-size: 20px;
                    font-weight: 800;
                    line-height: 33px;
                    color: #08003C;
                    user-select: none;
                }

                .selector_box {
                    display: flex;
                    border-radius: 12px;
                    height: 62px;
                    display: flex;
                    align-items: center;
                    margin-top: 6px;
                    border: 1px solid #29289B;
                    padding: 0 20px 0 14px;
                    gap: 10px;
                    cursor: pointer;
                    user-select: none;
                    box-shadow: 0px 4px 25px 0px #0000001A;

                    .box_icon {
                        color: #007AFF;
                        font-size: 20px;
                    }

                    .text {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 300px;
                        display: inline-block;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 33px;
                        color: #4B4B4B;
                        margin: 0;
                    }

                    .down_icon {
                        margin-left: auto;
                        color: #4B4B4B;
                        transform: rotate(0deg);
                        transition: all .3s ease;
                    }

                    &.active {
                        .down_icon {
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            .select_popup-main {
                background: red;

                .popup_overlay {
                    position: fixed;
                    inset: 0;
                    background: #00000057;
                    z-index: 4;
                    backdrop-filter: blur(0px);
                    transition: all .2s ease;
                    display: none;
                    opacity: 0;

                    &.show {
                        display: block;
                    }

                    &.animate {
                        opacity: 1;
                        backdrop-filter: blur(2px);
                    }
                }

                .select_popup-container {
                    z-index: 5;
                    background: orange;
                    width: 500px;
                    max-width: 96vw;
                    width: 150%;
                    position: absolute;
                    left: 50%;
                    top: 350px;
                    border-radius: 20px;
                    background: white;
                    padding: 20px 22px;
                    transform: translate(-50%, 0%);
                    box-shadow: 0px 20px 50px 0px #00000066;
                    transition: all .2s ease;
                    display: none;

                    &.show {
                        display: block;
                    }

                    &.animate {
                        top: 110px;
                    }

                    .select_popup-body {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        .popup-header {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .title {
                                font-family: "Myriad Pro";
                                font-size: 24px;
                                font-weight: 700;
                                line-height: 28.8px;
                                color: var(--purple);
                                margin: 0;
                            }

                            .close-btn {
                                display: flex;
                                border: none;
                                outline: none;
                                background: none;
                                border-radius: 50%;

                                i {
                                    color: #7E7EB5;
                                    transition: all .3s ease;
                                    font-size: 26px;

                                    &:hover {
                                        color: #6767ae;
                                    }
                                }
                            }
                        }

                        .popup-footer {
                            display: flex;

                            .popup-btns {
                                display: flex;
                                gap: 15px;

                                &>button {
                                    height: 54px;
                                    border-radius: 12px;
                                    box-shadow: none;
                                    background: none;
                                    border: none;
                                    outline: none;
                                    font-family: "Myriad Pro";
                                    font-size: 20px;
                                    font-weight: 700;
                                    line-height: 33px;
                                }

                                .btn-light {
                                    color: #3C3B40;
                                    padding: 0 5px;
                                }

                                .btn-dark {
                                    color: white;
                                    background: #E17600;
                                    padding: 0 45px;
                                    box-shadow: 0px 4px 25px 0px #0000001A;
                                }
                            }
                        }
                    }
                }
            }

            &.country_select {
                .select_popup-container {
                    width: 500px;

                    .search_countries {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        .search_input {
                            display: flex;
                            position: relative;
                            align-items: center;

                            input {
                                width: 100%;
                                height: 46px;
                                outline: none;
                                border-radius: 10px;
                                border: 1px solid #CDCCDD;
                                box-shadow: 0px 4px 25px 0px #0000001A;
                                padding: 0 50px 0 16px;
                                font-family: 'Myriad Pro';
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 33px;
                                transition: all .3s ease;
                                color: #4B4B4B;
                                caret-color: var(--orange);

                                &::placeholder {
                                    color: #4B4B4B;
                                }

                                &::selection {
                                    color: white;
                                    background: var(--orange);
                                }
                            }

                            .search-btn {
                                position: absolute;
                                right: 16px;
                                padding: 0;
                                border: none;
                                background: none;
                                display: flex;
                            }
                        }

                        /* background: pink; */
                        .countries-container {

                            /* max-height: 390px; */
                            /* overflow: auto; */
                            /* padding-right: 5px; */
                            &::-webkit-scrollbar {
                                width: 6px;
                                border-radius: 5px;
                                background: #e0e0e0;
                            }

                            &::-webkit-scrollbar-thumb {
                                background: #898989;
                                border-radius: 5px;
                            }

                            .countries {
                                /* display: none; */
                                display: grid;
                                grid-template-columns: repeat(3, minmax(100px, auto));
                                gap: 16px;

                                .country-card {
                                    border: 1px solid;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 6px;
                                    align-items: center;
                                    border: 1px solid #CDCCDD;
                                    justify-content: center;
                                    border-radius: 10px;
                                    padding: 20px 0;
                                    gap: 8px;
                                    user-select: none;
                                    cursor: pointer;
                                    position: relative;

                                    &::before {
                                        content: '';
                                        position: absolute;
                                        inset: 0;
                                        border-radius: 10px;
                                        z-index: -1;
                                        border: 2px solid #1285EF;
                                        opacity: 0;
                                        transition: all .2s ease;
                                    }

                                    &::after {
                                        content: "\f058";
                                        font-family: "Font Awesome 6 Pro";
                                        font-weight: 900;
                                        position: absolute;
                                        right: 5px;
                                        color: #1285EF;
                                        top: 5px;
                                        display: flex;
                                        font-size: 23px;
                                        line-height: normal;
                                        opacity: 0;
                                        transition: all .2s ease;
                                    }

                                    &.active {
                                        border-color: transparent;

                                        &::before,
                                        &::after {
                                            opacity: 1;
                                        }
                                    }

                                    img {
                                        width: 48px;
                                        aspect-ratio: 1/1;
                                    }

                                    span {
                                        font-family: 'Myriad Pro';
                                        font-size: 16px;
                                        font-weight: 400;
                                        line-height: 19.2px;
                                        text-align: center;
                                        color: #4B4B4B;
                                    }
                                }
                            }
                        }
                    }

                    .popup-footer {
                        justify-content: center;
                        padding-top: 10px;
                    }
                }
            }
        }
    }
}

/* Cards Section     */
.property_section {
    width: 96%;
    max-width: 1432px;
    margin: 50px auto 100px;

    /* display: none; */
    .card-container {
        .b-card {
            height: 245px;
            position: relative;

            .card-main {
                padding: 18px;
                position: absolute;
                border: 1px solid #29289B2B;
                background: #FFFFFF;
                border-radius: 20px;
                box-shadow: 0px 4px 65.6px 0px #00000026;
                width: 100%;
                transition: box-shadow .3s ease;

                /* header */
                .card-head {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .img {
                        width: 80px;
                        transition: all .3s ease;

                        img {
                            width: 100%;
                        }
                    }

                    .header-details {
                        .cost {
                            display: flex;
                            color: var(--orange);
                            gap: 10px;
                            align-items: center;
                            justify-content: right;

                            i {
                                font-size: 18px;
                            }

                            p {
                                font-size: 14px;
                                font-weight: 400;
                                margin: 0;
                            }
                        }

                        h2 {
                            margin-top: 8px;
                            font-size: 30px;
                            font-weight: 700;
                            color: #29289B;
                            text-align: right;
                        }
                    }
                }

                /* note */
                .note {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    margin: 12px 0;

                    i {
                        font-size: 20px;
                        color: #29289B;
                    }

                    h4 {
                        font-size: 14px;
                        font-weight: 600;
                        margin: 0;
                        color: #08003C;
                    }
                }

                /* detiails */
                .details {
                    display: grid;
                    grid-template-rows: 0fr;
                    overflow: hidden;
                    transition: all .4s ease;

                    &>div {
                        min-height: 0;

                        h3 {
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 24px;
                            color: #1285EF;
                        }

                        ul {
                            padding-left: 24px;

                            li {
                                color: #434343;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 24px;
                            }
                        }
                    }
                }

                /* buttons */
                .btns {
                    display: flex;
                    gap: 14px;

                    .btn {
                        min-width: max-content;
                        border: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 19.2px;
                        height: 60px;
                        box-shadow: none;
                        border-radius: 15px;
                        cursor: pointer;

                        &.btn-light {
                            width: 100%;
                            border: 2px solid #007AFF;
                            background: white;
                            color: #007AFF;
                        }

                        &.btn-dark {
                            width: 100%;
                            border: 2px solid #E17600;
                            background: #F58409;
                            color: white;
                        }
                    }
                }

                &:hover {
                    box-shadow: 0px 0px 8px 2px #4545453f;
                    z-index: 2;

                    .card-head {
                        .img {
                            width: 100px
                        }
                    }

                    .details {
                        grid-template-rows: 1fr;
                    }
                }
            }
        }
    }
}